<h1>Listing engineers</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Tokens</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engineers.each do |engineer| %>
      <tr>
        <td><%= engineer.name %></td>
        <td><%= engineer.phone %></td>
        <td><%= engineer.tokens %></td>
        <td><%= link_to 'Show', rentee_engineer_path(engineer.rentee, engineer) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engineer', new_rentee_engineer_path %>




<!-- <div class="panel panel-primary">
  <% @engineers.each do |engineer| %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= engineer.name %></h3>
    </div>
    <div class="panel-body">
      <%= engineer.tokens %>
    </div>
  <% end %>
</div> -->