<h1>Listing engineers</h1>

<h3>Company name: <%= @rentee.name %></h3>

<h4> Total Tokens: <%= @rentee.tokens%></h4>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Tokens</th>
      <th>Add Tokens</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @engineers.each do |engineer| %>
      <tr>
        <td><%= engineer.name %></td>
        <td><%= engineer.phone %></td>
        <td><%= engineer.tokens %></td>


        <td><form method="update"><input type="number" max="10000" min="0"><input type="submit" value="Add Token(s)">
        </form></td>
        <td><%= link_to 'Show', rentee_engineer_path(engineer.rentee, engineer) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engineer', new_rentee_engineer_path %>
