<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engineer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @engineer.phone %>
</p>

<p>
  <strong>Tokens:</strong>
  <%= @engineer.tokens %>
</p>

<%= link_to 'Edit', edit_rentee_engineer_path(@engineer.rentee, @engineer) %> |
<%= link_to 'Back', rentee_engineers_path %>

