<!DOCTYPE html>
<html>
<head>
  <title>LOGO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><strong>LOGO</strong></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">

    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li style = "margin-top: 10px;">Logged in as <strong><%= current_user.email %></strong>.</li>
      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
    <% end %>

    </ul>

  </div>
</div>

<div class="container">

  <div>
    <% if isAdmin? %>
      <h4><p class="text-success">Logged in as Admin.</p></h4>
    <% end %>
   </div>
<!--
 <footer>
  <div class="footer">
    <p>© </p>
    <p class="copyright"></a></p>
  </div>
</footer> -->

  <%= yield %>


</div>

</body>



</html>